<div class="select-slider"
    ng-class="{
    'ready' : elementsReady,
    }">
    <div class="stripe"></div>
    <div class="active"
    ng-bind-html="listElementTemplate( listElements [ activeElement ] )"></div>
    <button
        class="decrease"
        ng-click="setActiveElementAnimate( activeElement - 1 )"
        ng-class="{
            'inactive' : activeElement == 0,
        }"
        >
        <svg>
            <g>
                <use xlink:href="#svg-arrow-left" />
            </g>
        </svg>
        </button>
    <button
        class="increase"
        ng-click="setActiveElementAnimate( activeElement + 1 )"
        ng-class="{
            'inactive' : activeElement == listElements.length - 1,
        }"
        >
        <svg>
            <g>
                <use xlink:href="#svg-arrow-right" />
            </g>
        </svg>
        </button>
</div>
